body {
  font-family: "Open sans", sans-serif;
}

.wrapper-jumbo {
  min-height: 10em;
  background: #333 url(/img/jumbotron.jpg);
  background-size: cover;
  color: white;
  font-size: 5em;
  line-height: 10em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}