body {
  font-family: "Open sans", sans-serif;
}

.wrapper-jumbo {
  min-height: 13em;
  background: #333 url(/img/jumbotron.jpg);
  background-size: cover;
  color: white;
  font-size: 4em;
  line-height: 13em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}
@media only screen 
and (max-width : 1000px) {
  body {
    padding-top: 70px;
  }
  .wrapper-jumbo {
    font-size: 2em;
  }
}

@media only screen 
and (max-width : 500px) {
  .wrapper-jumbo {
    font-size: 1em;
    
  }
}

.logo.logo-white {
  background: url(/img/logo-white.png) no-repeat;
  height: 50px;
  width: 200px;
  text-indent: -999999px;
  background-size: auto 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-nav>li>a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-nav>li>a {
  line-height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper-services {
  padding-top: 3em;
  padding-bottom: 3em;
}
.service {
  text-align: center;
}
.service-icon {
  font-size: 3em;
}

.wrapper-contact {
  font-size: 3em;
  min-height: 10em;
  line-height: 10em;
  color: #fff;
  background: #333;
  text-align: center;
}

@media only screen 
and (max-width : 1000px) {
  .wrapper-contact {
    font-size: 1.5em;
  }
}

@media only screen 
and (max-width : 500px) {
  .wrapper-contact {
    font-size: 1em;
    
  }
}
